.container-sub
{
	color:#808080;
    width:100%;
	padding-left: 30px !important;
    padding-right: 30px !important;
}
#title_text
{
	line-height: 60px;
    text-align: center;
    font-size: 60px;
    margin: 35px 0 45px 0;
}
#title_icon
{
	margin: 50px 10px;
    height: 30px;
	WIDTH:AUTO;
}
#title
{
	display:flex;
        justify-content: center;
}
.rotation
{
	transition-property: -ms-transform, -webkit-transform;
 	transition-duration: 0.4s;
    transition-timing-function: ease;
	
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
}
.rotation:active
{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}
.section-title
{
	font-size: 16pt;
}
.section-sub
{
    width: 60%;
    margin:auto 0 0 0;
	font-size: 14pt;
}
#flag-container{
	display: inline-flex;
}
.flag
{
	height: 40px;
    width: a
    margin:auto;
    margin: 10px 50px 10px 0;
	    border-radius: 50%;
}
.flag:hover
{
	box-shadow: 0 0 10px 8px #ffdd99;
}
.flag-selected
{
	box-shadow: 0 0 10px 8px #8ce196 !important;
}
#lingua-sel{
	font-weight: 600;
    display: inline;
}

.spacer{
	width:100%;
	height:	20px;
}
.section-element{
	display: inline-flex;
    width: 100%;
	margin-bottom:10px;	
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}

.uncheckable
{
	color: #d9d9d9 !important;
}
.nome-panel
{
	width:12%;
}
.container-row-panel
{
	display:flex;
}

.myclass tr {     
	cursor:pointer; 
}   
.myclass tr:hover {     
	background:#b0e8b3; 
}
.btn-mod
{
    background-image: linear-gradient(to bottom, #214f78 0%, #275c8c 100%);
    margin-right: 2%;
	border-color: #163551;
    color: #fff;
}
.btn-mod:hover
{
	background-color:#214f78 !important;
    color: #fff !important;
}
#container-tab-news{
	width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.bootstrap-select.btn-group .btn .caret {
left: 12px;
}
.bootstrap-select.btn-group .btn .filter-option {
text-align: right;
}

.btn-insert-news
{
	color:white !important;
	margin-top: 2%;width: 80%;margin-left: 3%;
    border-color: #5cb85c !important;
    background-image: -webkit-linear-gradient(top, #8ce196 0%, #81D28B 100%) !important;
    background-image: -o-linear-gradient(top, #8ce196 0%, #81D28B 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ce196), to(#81D28B)) !important;
    background-image: linear-gradient(to bottom, #8ce196 0%, #81D28B 100%) !important;
}
.btn-insert-news:hover
{
border-color: #5cb85c !important;
	background-image: -webkit-linear-gradient(top, #81D28B 0%, #73B97C 100%) !important;
    background-image: -o-linear-gradient(top, #81D28B 0%, #73B97C 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#81D28B), to(#73B97C)) !important;
    background-image: linear-gradient(to bottom, #81D28B 0%, #73B97C 100%) !important;
}


.caret
{
	margin-left:185px !important;
}

#diagnosis_list
{
	color: #808080;width:95%;
}
.btn-not-active
{
	    background-image: linear-gradient(to bottom, #DCDADA 0%, #C7C7C7 100%) !important;
    margin-right: 2% !important;
    border-color: #C7C7C7 !important;
    color: #FFFFFF !important;
	pointer-events: none !important;
   	cursor: default !important;
}
.not-saved
{
	background-color:#FFF9C2;
}